<html>
    <head>
        <title>ERMS Loggedout</title>
        <link rel="icon" href="static/img.png">
        <link href="https://bootswatch.com/4/materia/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/logout">
            <div class="login">
                <div class="login-screen">
                    <div class="app-title">
                        <h1>ERMS</h1>
                        <h4>Logged in as: {{username}}</h4>
                    </div>
                    <div class="login-form">
                        <input type="submit" value="Log out" class="btn btn-primary btn-large btn-block" >
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>