</div>
</div>
</body></html>


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html>
<head>
  <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="https://bootswatch.com/4/materia/bootstrap.min.css" rel="stylesheet">
</head><body>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/menu">Main Menu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul>

<div>
    <h1>Search Results for Incident</h1>
</div>
        
<h4>{{incidentname}}</h4>

{{table|safe}}



</body></html>